<main>
    <section class="searchForTitle">
        <div>
            <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title here...">
            <button (click)="searchByTitle()">Search</button>
        </div>
        <div *ngIf="titleFound !== null">
            <p [style.color]="titleFound ? 'green' : 'red'">
                {{titleFound ? 'Song Exist' : 'Song Not Exist'}}
            </p>
        </div>
    </section>

    <h1>Songs with No Type</h1>

    <section class="cards">
        <div *ngFor="let content of contents | contentTypeFilter:''" hoverAffect="border">
            <app-content-card [song]="content" [class]="''"></app-content-card>
        </div>
    </section>

    <h1>Romantic Songs</h1>

    <section class="cards">
        <div *ngFor="let content of contents | contentTypeFilter:'Romantic'" hoverAffect="border">
            <app-content-card [song]="content" [class]="'Romantic'"></app-content-card>
        </div>
    </section>

    <h1>Pop Songs</h1>

    <section class="cards">
        <div *ngFor="let content of contents | contentTypeFilter:'Pop'" hoverAffect="border">
            <app-content-card [song]="content" [class]="'Pop'"></app-content-card>
        </div>
    </section>
</main>