<div>
    <h1 mat-dialog-title>Add New Song</h1>
    <mat-dialog-content>
        <form class="newSongForm" (submit)="addNewSong()">
          
          <div>
            <mat-form-field appearance="fill">
              <mat-label for="id">ID</mat-label> 
              <input matInput type="text" id="id" name="id" [(ngModel)]="newSong.id">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label for="title">Title</mat-label> 
              <input matInput type="text" id="title" name="title" [(ngModel)]="newSong.title" required>
            </mat-form-field>
          </div>
    
          <div>
            <mat-form-field>
              <mat-label for="desc">Description</mat-label>
              <textarea matInput name="description" id="desc" cols="30" rows="4" [(ngModel)]="newSong.description" required></textarea>
            </mat-form-field> 
          </div>
    
          <div>
            <mat-form-field>
              <mat-label for="creator">Creator</mat-label>
              <input matInput type="text" id="creator" name="creator" [(ngModel)]="newSong.creator" required>
            </mat-form-field>
          </div>
          
          <div>
            <mat-form-field>
              <mat-label for="type">Type</mat-label>
              <input matInput type="text" id="type" name="type" [(ngModel)]="newSong.type">
            </mat-form-field>
          </div>
          
          <div>
            <mat-form-field>
              <mat-label for="img">Image Url</mat-label>
              <input matInput type="text" id="img" name="img" [(ngModel)]="newSong.image">
            </mat-form-field>
          </div>

          <div class="addBtn">
            <mat-dialog-actions>
                <button mat-raised-button mat-dialog-close color="accent">Close <mat-icon>Close</mat-icon></button>
                <button mat-raised-button color="primary" [mat-dialog-close]="newSong" type="submit">Add Song <mat-icon>Add</mat-icon></button>
            </mat-dialog-actions>
          </div>
        </form>
    </mat-dialog-content>
</div>