.messages-sec{
    padding: 40px 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #8dda24;
    border-bottom: 1px solid #8dda24;
}
.messages{
    max-width: 1100px;
    margin: 12px auto;

    h2{
        text-align: center;
        margin-bottom: 16px;
    }

    ul li{
        margin-bottom: 16px;
    }

    .clrBtn{
        margin: 24px 0px;

        // button {
        //     color: #fff;
        //     cursor: pointer;
        //     padding: 8px 15px;
        //     border: 1px solid black;
        //     background-color: #1d1d1d;
        //     transition: all .3s;

        //     &:hover {
        //         color: #000;
        //         background-color: #fff;
        //     }
        // }
    }

}