.card {
  padding: 15px;
  width: 400px;
  margin-bottom: 15px;
  border: 1px solid gray;
  transition: all .5s;

  &.Romantic {
      color: #000;
      background-color: #fdf5df;
  }
  &.Pop {
      color: #000;
      background-color: #a0aecd;
  }

  &.matched {
      border: 5px solid #7dffcd;
      transform: scale(1.08);
      box-shadow: 1px 1px 30px #00fa9a;
  }

  img {
      max-width: 100%;
      cursor: pointer;
  }
  h2 {
      margin-bottom: 10px;
  }
  p {
      margin: 10px 0px;
      text-align: justify;
  }
}